body {
    background: url("istockphoto-502911292-2048x2048-transformed.jpg") no-repeat top center fixed;
    background-size: cover;
    text-align: center;
}
.container {
    margin-top: 100px;}

.t::before {
    content: "ברוך הבא חבר";
    text-align: center;
    font: 20pt Arial;
    font-weight: bold;
    color: #ffffff;
    background-color:#365942;
    padding: 5px;
    display:block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

.t {
    background-color: #ecf5b8 ;
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}
div{
    text-decoration-color: rgba(255, 255, 255, 0.9);
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}
h1{
    color: rgb(3, 88, 46);
    text-align: center;
    font: 20pt arial bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
h2{
    color: rgb(3, 88, 46);
    text-align: center;
    font: 17pt Times bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
h3{
    color: rgb(5, 104, 54);
    text-align: left;
    font: 15pt arial ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(159, 192, 11);
}

p{
    color: rgb(5, 104, 54);
    text-align: center;
    font: 15pt arial bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(159, 192, 11);
}
span{
    font: 10pt arial bold;
    color: rgb(5, 104, 54);


}
input{
    font-size: 14pt;
    align-content: center ;

}
button {
    padding: 15px 30px; /* Aumenta o tamanho do botão */
    font-size: 18px; /* Aumenta o tamanho do texto do botão */
    background-color: #365942; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}
button:hover {
    background-color: #40cf58; /* Cor de fundo ao passar o mouse */
}
strong{
    color: #273747;
}

